@model IList<Article>

@{
    ViewData["Title"] = "Home Page";
}



<section>
    <header>
        <div class="text-center">
            <h1 class="display-4">Articles</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </header>
    @foreach (var article in Model)
    {
        <article style="margin:10px;border:solid 1px black;">
            <header>
                <h2>@article.Title</h2>
            </header>
            <p>
                @article.Content
            </p>
            <footer>
                @if (article.Author is not null)
                {
                    @: Written by @article.Author.FirstName @article.Author.LastName on @article.CreatedDate.ToLongDateString() @article.CreatedDate.ToShortTimeString()
                }
            </footer>
        </article>
    }
</section>