@model VivesBlog.Model.Dto.PersonDto

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Model.Email))
        {
            <a href="mailto:@Model.Email">@Model.Email</a>
        }
        else
        {
            @: No email
        }
    </td>
    <td>
        <span class="badge text-bg-light">@Model.Articles.Count</span>
    </td>
    <td>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-type="deleteButton">
            Delete
        </button>
    </td>
</tr>