@model Article

<tr>
    <td>@Model.CreatedDate.ToShortDateString() @Model.CreatedDate.ToShortTimeString()</td>
    <td>
        @if (Model.Author is not null)
        {
            @: @Model.Author.FirstName @Model.Author.LastName
        }
    </td>
    <td>
        @Model.Title
    </td>
    <td>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-type="deleteButton">
            Delete
        </button>
    </td>
</tr>